.Country {
    padding:0 5%;
    display: flex;
    flex-direction: row;
    
}

.Flag {
    width: auto;
    height: 50%;
}



.Info {
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding:0 5%;
    
}

.InfoSides{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.InfoLeft {
    display: flex;
    flex-direction: column;
}

.InfoRight {
    display: flex;
    flex-direction: column;
}