.SearchTools {
    padding:0 5%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
    
}

.SearchTools input {
    background: hsl(209, 23%, 22%);
    width: 33%;
    height: 35px;
    border: none;
    border-radius: 5px;
    color: hsl(0, 0%, 100%);

    
}

.SearchTools input::placeholder {
    color: hsl(0, 0%, 100%);
}

.SearchTools select {
    background: hsl(209, 23%, 22%)  ;
    width: 15%;
    height: 35px;
    border: none;
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
}


@media (max-width: 500px) {
    .SearchTools {
        flex-direction: column;
    }

    .SearchTools input {
        width: 100%;
        margin-bottom: 5%;
        align-self: flex-start;
        text-align: center;
    }

    .SearchTools select {
        align-self: flex-start;
        width: 50%;
        padding-left: 10px;
    }
}