.Toolbar {
    background: hsl(209, 23%, 22%);
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    margin-bottom: 5%;
}

.Toolbar p {
    color: white;
    font-weight: bold;
}